body {
  background-color: #352f5b;
}

.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background-color: rgb(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
  border: none;
  color: #fff;
}
.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}
